# Choosing Data
In this notebook, we choose a subset of the "COVID-19 Twitter Dataset with Latent Topics, Sentiments and Emotions Attributes" dataset for the UK[1]. We do this since we have a limited amount of compute at our disposal. The full dataset contain tens of millions of rows.

In [1]:
import pandas as pd

In [23]:
# Import CSV data file
data = pd.read_csv("files/project_tweet_data_UK.csv", index_col=0)

# Check first five rows
data.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1234289474479239168,303154079,covid,2020-03-02 01:28:37,0.380,0.516,0.454,0.207,0.458,-1,F
1,1234289531228237824,566536507,covid,2020-03-02 01:28:50,0.765,0.289,0.248,0.638,0.292,2,H
2,1234289658445664257,248819855,covid,2020-03-02 01:29:21,0.399,0.566,0.388,0.232,0.454,-1,F
3,1234289759092191232,248819855,covid,2020-03-02 01:29:45,0.380,0.612,0.411,0.218,0.460,-1,F
4,1234290038965506048,248819855,covid,2020-03-02 01:30:51,0.408,0.585,0.412,0.253,0.456,-1,F

In [24]:
# Check last five rows
data.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
5983995,1310255378337345539,83881926,covid,2020-09-27 16:30:00,0.453,0.348,0.375,0.333,0.367,-1,A
5983996,1310255384830058497,1208765275878895617,covid,2020-09-27 16:30:01,0.491,0.411,0.434,0.336,0.478,0,NaN
5983997,1310255391394201605,1149959365664882688,covid,2020-09-27 16:30:03,0.438,0.372,0.443,0.246,0.377,-1,A
5983998,1310255402123251714,351669443,covid,2020-09-27 16:30:05,0.575,0.307,0.379,0.438,0.283,1,H
5983999,1310255409375125504,61737425,covid,2020-09-27 16:30:07,0.347,0.461,0.521,0.196,0.464,-1,A

In [25]:
# Check shape
data.shape

(5984000, 11)

In [26]:
# Take initial subset
data_subset = data.head(4400000)

In [27]:
# Reset indicies
data_subset = data_subset.reset_index(drop=True)

In [28]:
# Inspect last five rows
data_subset.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
4399995,1285836228324200449,471414613,covid,2020-07-22 07:17:01,0.616,0.283,0.342,0.458,0.291,1,H
4399996,1285836271579992065,730944914,covid,2020-07-22 07:17:11,0.483,0.455,0.471,0.239,0.444,0,NaN
4399997,1285836306803757057,83547263,covid,2020-07-22 07:17:19,0.475,0.516,0.400,0.334,0.366,-1,F
4399998,1285836317042135040,421047121,covid,2020-07-22 07:17:22,0.388,0.519,0.550,0.238,0.460,-1,A
4399999,1285836343369662465,256027136,covid,2020-07-22 07:17:28,0.430,0.474,0.485,0.183,0.422,-1,A

In [33]:
## We still have too many rows.. ##

# Take every 6th row and discard the rest
data_new = data_subset.iloc[::6, :]

# Reset indicies
data_new = data_new.reset_index(drop=True)

# Inspect shape of new subset DataFrame
data_new.shape

(733334, 11)

In [35]:
# Save to CSV
data_new.to_csv("files/project_tweet_data_final_UK.csv")

In [36]:
# Import saved CSV file to inspect that it is in order
data_import = pd.read_csv("files/project_tweet_data_final_UK.csv",index_col=0)

In [37]:
# Inspect first five elements
data_import.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1234289474479239168,303154079,covid,2020-03-02 01:28:37,0.380,0.516,0.454,0.207,0.458,-1,F
1,1234290271774543872,248819855,covid,2020-03-02 01:31:47,0.380,0.611,0.412,0.218,0.460,-1,F
2,1234291397202776065,248819855,covid,2020-03-02 01:36:15,0.408,0.505,0.422,0.218,0.417,-1,F
3,1234292673260879872,447663369,corona,2020-03-02 01:41:20,0.448,0.566,0.419,0.267,0.415,-1,F
4,1234293534498414592,406164260,covid,2020-03-02 01:44:45,0.575,0.465,0.306,0.390,0.337,1,H

In [38]:
# Inspect final five rows
data_import.tail(5)

## Looks OK! ##

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
733329,1285835856650043393,334091760,covid,2020-07-22 07:15:32,0.587,0.377,0.331,0.363,0.324,1,H
733330,1285835987424337921,75508547,corona,2020-07-22 07:16:03,0.250,0.507,0.608,0.141,0.508,-2,A
733331,1285836106496385025,1096478949725614080,covid,2020-07-22 07:16:32,0.325,0.537,0.504,0.186,0.483,-1,F
733332,1285836204559290369,162753440,covid,2020-07-22 07:16:55,0.359,0.563,0.556,0.287,0.438,-1,F
733333,1285836317042135040,421047121,covid,2020-07-22 07:17:22,0.388,0.519,0.550,0.238,0.460,-1,A

# References

[1] Gupta, Raj, Vishwanath, Ajay, and Yang, Yinping. COVID-19 Twitter Dataset with Latent Topics, Sentiments and Emotions Attributes. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2022-06-25. https://doi.org/10.3886/E120321V12 <br>
(Link to data: https://www.openicpsr.org/openicpsr/project/120321/version/V12/view?path=/openicpsr/120321/fcr:versions/V12/Twitter-COVID-dataset---June2022/tweetid_userid_keyword_sentiments_emotions_United-Kingdom.zip&type=file)