# Choosing Data
In this notebook, we choose a subset of the "COVID-19 Twitter Dataset with Latent Topics, Sentiments and Emotions Attributes" dataset for Canada[1]. We do this since we have a limited amount of compute at our disposal. The full dataset contain tens of millions of rows.

In [1]:
import pandas as pd

In [4]:
# Import CSV data file
data = pd.read_csv("files/project_tweet_data_CAN.csv")

# Check first five rows
data.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1221959892619218944,13752142,wuhan,2020-01-28 00:55:15,0.409,0.468,0.530,0.255,0.462,-1,A
1,1221964363273125890,21761292,wuhan,2020-01-28 01:13:01,0.464,0.604,0.428,0.310,0.448,-1,F
2,1221967793509347329,545145545,wuhan,2020-01-28 01:26:39,0.336,0.574,0.545,0.186,0.473,-1,F
3,1221970757636354048,1031691314536935424,wuhan,2020-01-28 01:38:26,0.501,0.473,0.366,0.294,0.367,0,NaN
4,1221971173061353473,43748336,wuhan,2020-01-28 01:40:05,0.394,0.633,0.470,0.326,0.470,-1,F

In [5]:
# Check last five rows
data.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
9049592,1532330282665365507,1377778377810182146,covid,2022-06-02 11:56:23,0.246,0.635,0.585,0.120,0.581,-2,F
9049593,1532331000629428224,289572145,covid,2022-06-02 11:59:14,0.326,0.594,0.530,0.160,0.584,-1,F
9049594,1532331052081074176,191324405,covid,2022-06-02 11:59:26,0.342,0.749,0.524,0.230,0.554,-1,F
9049595,1532331081705431040,827875263216095238,covid,2022-06-02 11:59:33,0.366,0.592,0.585,0.202,0.505,-1,F
9049596,1532331113942765568,602938427,covid,2022-06-02 11:59:41,0.349,0.508,0.621,0.214,0.531,-1,A

In [6]:
# Check shape
data.shape

(9049597, 11)

In [80]:
# Take initial subset
data_subset = data.head(2252806)

In [81]:
# Reset indicies
data_subset = data_subset.reset_index(drop=True)

In [83]:
# Inspect last five rows
data_subset.tail(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
2252801,1285836111114190858,1732646678,covid,2020-07-22 07:16:33,0.520,0.315,0.370,0.370,0.402,0,NaN
2252802,1285836193880592384,1044971320998588417,covid,2020-07-22 07:16:52,0.478,0.441,0.447,0.280,0.424,-1,A
2252803,1285836330816217089,1026063939988324352,covid,2020-07-22 07:17:25,0.562,0.345,0.369,0.420,0.324,1,H
2252804,1285836344430784517,2388168248,covid,2020-07-22 07:17:28,0.362,0.474,0.475,0.178,0.468,-1,A
2252805,1285836349170491393,2388168248,covid,2020-07-22 07:17:29,0.501,0.444,0.407,0.384,0.374,0,NaN

In [86]:
### We still have too many rows.. ##

# Take every 3th row and discard the rest
data_new = data_subset.iloc[::3, :]

# Reset indicies
data_new = data_new.reset_index(drop=True)

# Inspect shape of new subset DataFrame
data_new.shape

(750936, 11)

In [87]:
# Save to CSV
data_new.to_csv("files/project_tweet_data_final_CAN.csv")

In [88]:
# Import saved CSV file to inspect that it is in order
data_import = pd.read_csv("files/project_tweet_data_final_CAN.csv",index_col=0)

In [89]:
# Inspect first five elements
data_import.head(5)

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
0,1221959892619218944,13752142,wuhan,2020-01-28 00:55:15,0.409,0.468,0.530,0.255,0.462,-1,A
1,1221970757636354048,1031691314536935424,wuhan,2020-01-28 01:38:26,0.501,0.473,0.366,0.294,0.367,0,NaN
2,1221975672891105281,31473811,wuhan,2020-01-28 01:57:58,0.451,0.453,0.435,0.336,0.451,-1,F
3,1221977054750617601,2654356639,wuhan,2020-01-28 02:03:27,0.456,0.576,0.464,0.308,0.440,-1,F
4,1221983093323493376,3410276675,wuhan,2020-01-28 02:27:27,0.429,0.530,0.446,0.258,0.414,-1,F

In [90]:
# Inspect final five rows
data_import.tail(5)

## Looks OK! ##

,tweet_ID,user_id,keywords,tweet_timestamp,valence_intensity,fear_intensity,anger_intensity,happiness_intensity,sadness_intensity,sentiment,emotion
750931,1285835503934169088,282716700,covid,2020-07-22 07:14:08,0.438,0.486,0.438,0.201,0.372,-1,F
750932,1285835843911839745,1497174692,covid,2020-07-22 07:15:29,0.330,0.604,0.529,0.157,0.545,-1,F
750933,1285835880784158720,620886049,covid,2020-07-22 07:15:38,0.485,0.502,0.419,0.307,0.426,0,NaN
750934,1285836193880592384,1044971320998588417,covid,2020-07-22 07:16:52,0.478,0.441,0.447,0.280,0.424,-1,A
750935,1285836349170491393,2388168248,covid,2020-07-22 07:17:29,0.501,0.444,0.407,0.384,0.374,0,NaN

# References

[1] Gupta, Raj, Vishwanath, Ajay, and Yang, Yinping. COVID-19 Twitter Dataset with Latent Topics, Sentiments and Emotions Attributes. Ann Arbor, MI: Inter-university Consortium for Political and Social Research [distributor], 2022-06-25. https://doi.org/10.3886/E120321V12 <br>
(Link to data: https://www.openicpsr.org/openicpsr/project/120321/version/V12/view?path=/openicpsr/120321/fcr:versions/V12/Twitter-COVID-dataset---June2022/tweetid_userid_keyword_sentiments_emotions_Canada.zip&type=file)